/* Results.scss */
section {
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    width: 80%;
    max-width: 600px;
    overflow: auto;
  
    pre {
      white-space: pre-wrap;
    }
  }
  